---
import Layout from "../layouts/Layout.astro";

const metaDescription = "DESCRIPTION";
---

<Layout description={metaDescription}>
  <h1 class="text-3xl font-bold">Hello, World!!!!!</h1>
</Layout>
